<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="~{general/fragmentos :: head}"/>

    <body>
        <section th:replace="~{producto/fragmentos :: agregar}"/>
        <section th:replace="~{producto/fragmentos :: listado}"/>
        <section th:replace="~{producto/fragmentos :: confirmar eliminar}"/>
        <section th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
