<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">           
            Esto será el encabezado...
        </header> 
        
        <footer th:fragment="footer">
            Esto será el footer...
        </footer>
    </body>
</html>
