<!DOCTYPE html>

<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>

    </head>
    <body>





    </body>
    <header>
        <nav>
            <a href="/"> TechShop</a> 
            <ul>
                <li><a href="/ejemplo2" >Jack </a></li>
                <li><a href="/index" >multimedia</a></li>
                <li><a href="/iframes2" >iframes2 </a></li>
            </ul>
        </nav>
    </header>
    <aside>
        <h1>Multimedia</h1>

    </aside>
    <section>
        <h2>Ejemplos de archivos</h2>
        <article>
            <h3> Musica Celta </h3>
            <audio controls>
                <source src="img/audios/musica.mp3" type="audio/mpeg">
                Your browser does not support the <code>audio</code> tag.
            </audio>
        </article>
        <article>
            <h3> Torpedo </h3>
            <video width="320" height="240" controls>
                <source src="../static/img/videos/torpedo.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
        </article>
    </section>
    <footer>
        Techshop 2025 &Copy; Todos los derechos guardados



    </footer>  
</html>
