<!DOCTYPE html>

<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>

    </head>
    <body>





    </body>
    <header>
        <nav>
            <a href="/"> TechShop</a> 
            <ul>
                <li><a href="/ejemplo2" >Jack </a></li>
                <li><a href="/multimedia" >multimedia</a></li>
                <li><a href="/iframes2" >iframes2 </a></li>
            </ul>
        </nav>
    </header>
    <aside>
        <h1>TechShop</h1>

    </aside>
    <section>
        <h2>Su tienda en linea</h2>
        <p>Creada en 2018 para la conveniencia de la poblacion mundial</p>

    </section>
    <footer>
        Techshop 2025 &Copy; Todos los derechos guardados



    </footer>  
</html>
