<!DOCTYPE html>

<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>

    </head>
    <body>





    </body>
    <header>
        <nav>
            <a href="/"> TechShop</a> 
            <ul>
                <li><a href="/ejemplo2" >Jack </a></li>
                <li><a href="/index" >multimedia</a></li>
                <li><a href="/iframes2" >iframes2 </a></li>
            </ul>
        </nav>
    </header>
    <aside>
        <h1>Multimedia</h1>

    </aside>
    <section>
        <h2>Ejemplos de iframes</h2>
        <article>
            <h3> Sitio Embebido </h3>
            <iframe src="https://ufidelitas.ac.cr "
                width="1100"
                height="600">
                
            </iframe>
            
        </article>
        <article>
            <h3> Youtube </h3>
<iframe width="1519" height="854" src="https://www.youtube.com/embed/GqT0IsTM0VA" title="Origin of The One Below All" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
                
            
        </article>
        <article>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62872.935301369165!2d-84.04735481672002!3d9.970645473207641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e7315f4df07d%3A0xd06641ff9636c9a7!2sEl%20Lagar%20Coronado!5e0!3m2!1sen!2scr!4v1747793300277!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </article>
        
    </section>
    <footer>
        Techshop 2025 &Copy; Todos los derechos guardados



    </footer>  
</html>
